<div class="row">

  {{#chart-wrapper label="Throughput, 12 hours"}}
    {{newrelic-chart src="https://rpm.newrelic.com/public/charts/h4TryqDQu6g"}}
  {{/chart-wrapper}}

  {{#chart-wrapper label="Throughput, 7 Days"}}
    {{newrelic-chart src="https://rpm.newrelic.com/public/charts/6W3sIHrBLHP"}}
  {{/chart-wrapper}}

</div>